	.p{
            border-style: solid;
            border-color: darkblue;
            border-width: 4px;
            margin-top: 0px;
            margin-bottom: 0px;
            float:left;
            position: relative;
            background-color: aqua;
            height: 15px;
            width: 15px;
        }

        .button1{
            background-color: #efefef;
            padding: 3px;
            border-radius: 0px;
            border-color: #f5e690;
            width: 23px;
            height: 23px;
        }
        .button1:hover{
            background-color: #9c9c9c;
        }
        .button1:focus{
           outline: none;
        }
        